################################
# USE NETWORK INSTALLATION
################################
url --url={{ REPO_URL }}

################################
# BASIC CONFIGURATIONS
################################
# System language
lang en_US.UTF-8

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System timezone
timezone Asia/Shanghai --isUtc

# SELinux configuration
selinux --disabled

# System services
services --enabled="chronyd"
firstboot --disable

# Use graphical install
graphical

# Reboot after installation
reboot

# System authorization information
auth --enableshadow --passalgo=sha512

################################
# ROOT PASSWORD
################################
{{ USERNAME }}
rootpw --iscrypted {{ PASSWORD }}

################################
# NETWORK CONFIGURATIONS
################################
network --hostname=localhost
{{ NETWORK_CFGS }}

################################
# DISK PARTITIONS
################################
%include /tmp/ignoredisk.cfg
autopart --type=lvm
{{ FORCE_INSTALL }}

################################
# PRE SCRIPTS
################################
%pre
touch /tmp/ignoredisk.cfg
ls /dev/disk/by-path/*usb* && echo "ignoredisk --drives=/dev/disk/by-path/*usb*" >/tmp/ignoredisk.cfg
ls /dev/vda && echo "ignoredisk --only-use=vda" > /tmp/ignoredisk.cfg
ls /dev/hda && echo "ignoredisk --only-use=hda" > /tmp/ignoredisk.cfg
ls /dev/sda && echo "ignoredisk --only-use=sda" > /tmp/ignoredisk.cfg

### NECESSARY: PRE SCRIPTS FOR ZSTACK
{{ PRE_SCRIPTS }}
%end

################################
# POST SCRIPTS
################################
%post
systemctl enable sshd

### NECESSARY: POST SCRIPTS FOR ZSTACK
{{ POST_SCRIPTS }}
%end

################################
# PACKAGES
################################
%packages
@core
chrony
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
