################################
# USE NETWORK INSTALLATION
################################
url --url={{ REPO_URL }}
{{ extra_repo }}

################################
# BASIC CONFIGURATIONS
################################
# System language
lang en_US.UTF-8

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System timezone
timezone Asia/Shanghai --isUtc

# SELinux configuration
selinux --disabled

# System services
services --enabled="chronyd"
firstboot --disable

# Use graphical install
graphical

# Reboot after installation
reboot

# System authorization information
auth --enableshadow --passalgo=sha512

################################
# ROOT PASSWORD
################################
{{ USERNAME }}
rootpw --iscrypted {{ PASSWORD }}

################################
# NETWORK CONFIGURATIONS
################################
network --hostname=localhost
{{ NETWORK_CFGS }}

################################
# DISK PARTITIONS
################################
%include /tmp/ignoredisk.cfg
autopart --type=lvm
{{ FORCE_INSTALL }}

################################
# PRE SCRIPTS
################################
%pre
touch /tmp/ignoredisk.cfg
ls /dev/disk/by-path/*usb* && echo "ignoredisk --drives=/dev/disk/by-path/*usb*" >/tmp/ignoredisk.cfg
ls /dev/vda && echo "ignoredisk --only-use=vda" > /tmp/ignoredisk.cfg
ls /dev/hda && echo "ignoredisk --only-use=hda" > /tmp/ignoredisk.cfg
ls /dev/sda && echo "ignoredisk --only-use=sda" > /tmp/ignoredisk.cfg

### NECESSARY: PRE SCRIPTS FOR ZSTACK
{{ PRE_SCRIPTS }}
%end

################################
# POST SCRIPTS
################################
%post --log=/var/log/ks_post.log
# wget zstack-dvd/scripts from ftp server
cd /opt && wget -e robots=off -r -l 10 --no-parent --reject "index.html*" -nH ftp://{{ pxeserver_dhcp_nic_ip }}/{{ IMAGE_UUID }}/scripts/

# install scripts
install /opt/{{ IMAGE_UUID }}/scripts/zs* /usr/local/bin/
rm  -rf /opt/{{ IMAGE_UUID }}

# modify logind.conf, so that only two ttys are avaiable
echo "NAutoVTs=2" >> /etc/systemd/logind.conf
echo "ReserveVT=2" >> /etc/systemd/logind.conf

# set tuned profile to virtual-host
echo virtual-host > /etc/tuned/active_profile

# configs
sed -i "s/ONBOOT.*/ONBOOT\=yes/g" /etc/sysconfig/network-scripts/ifcfg-*
sed -i "s/SELINUX\=enforcing/SELINUX\=disabled/g" /etc/selinux/config
sed -i "s/#UseDNS yes/UseDNS no/g" /etc/ssh/sshd_config
echo 'IndexOptions NameWidth=*' >> /etc/httpd/conf/httpd.conf
rm -f /etc/httpd/conf.d/welcome.conf
echo -e 'export TMOUT=6000\nreadonly TMOUT' >> /etc/profile
unlink /etc/libvirt/qemu/networks/autostart/default.xml

# history
cat > /etc/profile.d/history.sh << EOF
shopt -s histappend
HISTTIMEFORMAT='%F %T '
HISTSIZE="5000"
HISTFILESIZE=5000
PROMPT_COMMAND="history -a"
export HISTTIMEFORMAT HISTSIZE HISTFILESIZE PROMPT_COMMAND
EOF

# services
chkconfig NetworkManager off
chkconfig firewalld off
chkconfig httpd off
chkconfig nfs off
chkconfig iptables on
chkconfig network on
chkconfig atd on

### NECESSARY: POST SCRIPTS FOR ZSTACK
{{ POST_SCRIPTS }}
%end

################################
# PACKAGES
################################
%packages
@core
chrony
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
